#video{
    width:100%;
    hieght:100%;
    border:none;
}
.travel_mainDiv
{
    border: 1px solid lightgray;
}

.travel_mainDiv img
{
width: 100%;
}

.travel_mainDIv h5 , .travel_mainDiv p
{
    margin: 20px;
}

.movie_head
{
font-size: 20px;
padding: 6px 20px;
border-radius: 10px;
margin-bottom: 15px;
}

.movie_head
{
    float: right;
}

.achievement_text span
{
    color: orange;
}

,new
{
margin-bottom: 20px;
}

#contact_iframe
{
    width: 100%;
}